<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Tweet Results</title>
	<link rel="stylesheet" type="text/css" href="{%static "css/style.css" %}">
	<script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
</head>
<body>
	 <h1>#vivoipl</h1>
	{{ insert_me }} 
	<script src="https://d3js.org/d3-time.v1.min.js"></script>
	<script src="https://d3js.org/d3-time-format.v2.min.js"></script>
	<script>
		var parseTime = d3.timeParse("%H:%M");
		d3.csv("{%static "data/time_count.csv" %}")
		.row(function(d){
			return{
				time: parseTime(d.time),
				count: Number(d.count.trim())
			}
		})
		.get( function(error, data) {
	    // console.log(data);
	    var height = 400;
	    var width = 600;

	    var maxTime = d3.max(data, function(d){ return d.time; });
	    var minTime = d3.min(data, function(d){ return d.time; });
	    var maxCount= d3.max(data, function(d){ return d.count; });

	    // console.log(maxTime);
	    // console.log(minTime);
	    // console.log(maxCount);

	    var y = d3.scaleLinear()
	    		  .domain([0, maxCount])
	    		  .range([height, 0]);
	    var x = d3.scaleTime()
	    		  .domain([minTime, maxTime])
	    		  .range([0, width]);

	    var yAxis = d3.axisLeft(y);
	    var xAxis = d3.axisBottom(x);

	    var svg = d3.select('body').append('svg')
	                .attr('height', '100%')
	                .attr('width', '100%');

	    var chartGroup = svg.append('g')
	    					.attr('transform', 'translate(50,50)');

	    var line = d3.line().x(function(d){ return x(d.time)})
	    					.y(function(d){ return y(d.count)});

	    chartGroup.append('path').attr('d',line(data));
	    chartGroup.append('g').attr('class', 'x Axis').attr('transform', 'translate(0,'+height+')').call(xAxis);
	    chartGroup.append('g').attr('class', 'y Axis').call(yAxis);


    })
	</script>
	<script type="text/javascript" src="{%static "js/script.js" %}"></script>
</body>
</html>